<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @training.title %>
</p>

<p>
  <b>Description:</b>
  <%= @training.description %>
</p>

<p>
  <b>Location:</b>
  <%= @training.location %>
</p>

<p>
  <b>Time:</b>
  <%= @training.happens_at %>
</p>


<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
