<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :date_end %><br />
    <%= f.datetime_select :date_end %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.collection_select :company_id, @companies_all, :id, :name %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
