<h2>Verlinkung von allen Ressourcen</h2>

<ul style="font-size: 19px; line-height: 150%;">
	<li><%= link_to "Agents", :controller => "agents" %> </li>
	<li><%= link_to "Bewerber", :controller => "applicants" %></li>
	<li><%= link_to "Unternehmensvertreter", :controller => "bussiness_agents" %></li>	
	<li><%= link_to "Unternehmen", :controller => "companies" %></li>
	<li><%= link_to "Jobs", :controller => "jobs" %></li>
	<li><%= link_to "Sektoren", :controller => "sectors" %></li>
	<li><%= link_to "Trainings", :controller => "trainings" %></li>
	<li><%= link_to "Arbeitsuchender", :controller => "unemployeds" %></li>
	<li><%= link_to "Benutzer", :controller => "users" %></li>
</ul>